<h1> Add a new proyect </h1>
<%= flash[:error] %>
<%= form_for @project, html: { multipart: true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :logo %>
  <%= f.file_field :logo %>

  <%= f.button %>
<% end %>